* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    image-rendering: auto;
    background-size: cover;
    background-position: center;
}
/* changed .header to header in all instances. changed div to nav for accesibilitiy */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
/*removed extra header elements*/
.seo {
    color: #d9dcd6;
}
/*removed font-family and header element only nav need displayed*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
/* removed header nav ul from the element select. */
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    padding: 10px;
}
/*added padding to <p> element*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    margin-bottom: 32px;
    color: #ffffff;
}

aside h3{
    margin-bottom: 10px;
    text-align: center;
}

aside img {
    display:block;
    margin:10px auto;
    max-width: 150px;
}

/* used semantic elements <aside> to consolidate css style attributes for .benefits, h3 and img*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*used a id of section to justify the values as seperate from article*/
#section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    max-height: 200px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*removed extra img and h2 and replaced with the element tag*/
/*changed .footer to footer to repersent the footer element not the class id*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
